// Settings

// ------ Define Fonts ---------
$lato: 'Lato', Arial, sans-serif;
$crimson: 'Crimson', Georgia, serif;

// ------ Define Colors ---------
$navy: #00122d;
$blue: #1f598a;
$bright-blue: #009ad4;
/* $brightest-blue: #31c5fc; */
$brightest-blue: #61C7ED;
$light-blue: #abe6fc;
$lightest-blue: #e2eff5;
$gray: #eee;
$med-gray: #666;
$dark-gray: #333;

$trans-blue: rgba(31,89,138,0.8);
$trans-white: rgba(255, 255, 255, 0.9);
$trans-lb: rgba(226,239,245,0.9);
$trans-navy: rgba(0,17,45,0.8);

// -- Map Colors
$pink: #f8bbc6;
$light-red: #f17384;
$red: #ea384a;
$crimson-red: #c3292c;

// ------ Define Mix-Ins ---------
@mixin lato-upper {
    font-family: $lato;
    text-transform: uppercase;
}

@mixin crimson-italic {
    font-family: $crimson;
    font-style: italic;
    text-transform: none;
}

@mixin square($dimension) {
    width: $dimension;
    height: $dimension;
    line-height: $dimension;
}

@mixin circle($size) {
    width: $size;
    height: $size;
    @include border-radius($size);
    font-size: $size / 2;
}

// ----- Define Variables --------
// - Banner
$banner-color: $navy;

// - Navbar Colors
$nav-bg: #053f53;
/* $nav-container-bg: $medium-blue; */
$nav-link-color: #fff;
$nav-link-active-bg: #357c92;
$nav-link-active-color: #fff;

$resources-bar-bg: #222;

// - Banner Stripe
$banner-strip-bg: $banner-color;

// - Sidebar Nav
//$sidebar-nav-active: #357c92;
$sidebar-nav-active: #90bac7;
//$block-title-color: $red;
$block-title-color: #357c92;

// - Default Link Colors
$link-color: $red;
$link-hover: $crimson-red;

// - Headers (<h1>, <h2>, ...) Colors
$h1-color: $gray;
$h1-font: $crimson;

//$h2-color: $true-blue;
$h2-color: black;
//$h2-font: $crimson;
$h2-font: $lato;

//$h3-color: $red;
$h3-color: $lightest-blue;
//$h3-font: $lato;
$h3-font: $crimson;

//$h4-color: $true-blue;
$h4-color: $gray;
$h4-font: $lato;

$h5-color: #000;
$h5-font: $crimson;

// - Buttons
$btn-bg: $red;
$btn-color: #fff;

// - Footer
//$footer-color: $lightest-blue;
$footer-color: #90bac6;
