{% extends '::base.html.twig' %}

{% block body -%}
    <a class="btn btn-xs btn-primary pull-right" href="{{ path('admin_activity') }}">
        &laquo; Return to Activity List
    </a>
    <h1>Add New Activity</h1>

    {{ form(form) }}

{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('bundles/app/js/bootstrap-combobox.js') }}"></script>
{% endblock %}
{% block jQuery %}
	$('#appbundle_activity_school').combobox();
{% endblock %}
