{% extends '::base.html.twig' %}

{% block body -%}
    <a class="btn btn-xs btn-primary pull-right" href="{{ path('admin_home') }}">
        &laquo; Return to Dashboard
    </a>
    <h1>Add a New Person</h1>

    {{ form(form) }}

{% endblock %}
