{% extends '::base.html.twig' %}
{% block body %}
    <h1>Import Activites</h1>
    <br>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Import School Activities</h3>
      </div>
      <div class="panel-body">	
		<p>
			Please use the form below to upload and import data about: <strong>School Activities</strong>. 
			{% if project != 'project' %}<a href={{ path('import_activities', {project: 'project'}) }}>Click here to import a file with multiple schools per line.</a>{% else %}<a href={{ path('import_activities') }}>Click here to import a file with one school per line.</a>{% endif %}
		</p>
		<ul>
			<li><strong>Expected Columns:</strong> <br>
				{% for col in expectedColumns %}
					{{ col }} {% if not loop.last %} &nbsp; | &nbsp;{% endif %}
				{% endfor %}
			</li>
		</ul>
		<hr>
	    {{ form(form) }}
	  </div>
	</div>
{% endblock %}