/**
 * Styles for Mapping.
 */

body {
  padding-top: 50px;
}
.main-content {
  padding: 40px 15px;
}

form label {
	display: block;
}

input[type=text],
input[type=password],
input[type=email], {
	display: block;
	width: 60%;
	margin-bottom: 10px;
}

select {
	margin-bottom: 10px;
}

label[for=remember_me] {
	display: inline;
}

button[type=submit],
input[type=submit] {
	display: block;
	margin-top: 15px;
}

label.required:after {
	content: '*';
	color: #d30000;
}

label.checkbox {
	display: inline-block;
	margin-right: 10px;
}

.border-bottom td {
  border-bottom: 2px solid black;
}

.inline {
	display: inline;
}

label.inline {
	margin-left: 0.6em;
}

.checkbox-label {
	margin-bottom: 0.5em;
	margin-left: 0.5em;
}